<ion-header>
  <ion-toolbar>
    <ion-title>
      Patient Details Page
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text color="primary" showWhen="ios">Cancel</span>
        <!-- <ion-icon name="md-close" showWhen="android,windows"></ion-icon> -->
        <ion-icon name="md-close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding *ngIf="!EditView">
  <span text-center>
    <ion-thumbnail item-start>
      <ion-img width="80" height="80" src="assets/img/user_default.png"></ion-img>
    </ion-thumbnail>
  </span>
  <ion-list *ngIf="patient">
    <ion-item>
      <h2>Full Name : {{patient.firstName}} {{patient.secondName}}</h2>
    </ion-item>
    <ion-item>
      <h2>dateOfBirth : {{patient.dateOfBirth}}</h2>
    </ion-item>
    <ion-item>
      <h2>age : {{patient.age}}</h2>
    </ion-item>
    <ion-item>
      <h2>cnic : {{patient.cnic}}</h2>
    </ion-item>
    <ion-item>
      <h2>contact : {{patient.contact}}</h2>
    </ion-item>
    <ion-item>
      <h2>email : {{patient.email}}</h2>
    </ion-item>
    <ion-item>
      <h2>whatsapp : {{patient.whatsapp}}</h2>
    </ion-item>
    <ion-item>
      <h2>clientAddress : {{patient.clientAddress}}</h2>
    </ion-item>
    <ion-item>
      <h2>recordNo : {{patient.recordNo}}</h2>
    </ion-item>
  </ion-list>
  <ion-item *ngIf="!patient">
    No Patient Information
  </ion-item>
</ion-content>

<ion-content padding *ngIf="EditView">
    <span text-center>
        <ion-thumbnail item-start>
          <ion-img width="80" height="80" src="assets/img/user_default.png"></ion-img>
        </ion-thumbnail>
      </span>
</ion-content>