<!-- -->
<!-- <ion-header>
  <ion-navbar>
    <ion-buttons end>
        <button ion-button menuToggle>
          <ion-icon name={{auth.menuButton}}></ion-icon>
        </button>
      </ion-buttons>
  </ion-navbar>
</ion-header> -->
<ion-header>
    <ion-navbar color="primary">
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>
        <strong>Ionic 3</strong> Start Theme
      </ion-title>
      <ion-buttons end>
        <button ion-button tappable (click)="presentNotifications($event)">
          <ion-icon name="notifications"></ion-icon>
        </button>
        <button ion-button tappable (click)="goToAccount()">
          <ion-icon name="cog"></ion-icon>
        </button>
      </ion-buttons>
    </ion-navbar>
  </ion-header>
  
  <ion-content padding class="animated fadeIn common-bg">
  
    <p text-center class="custom-home-logo">
      <ion-thumbnail item-start>
        <!-- <ion-img width="80" height="80" src="assets/chess/Logo.png"></ion-img> -->
      </ion-thumbnail>
    </p>
    <ion-grid *ngIf="userRole == 'inspector'">
      <p>
        <button ion-button large full class="custom-button" (click)="navToCheckBooking()">CHECK BOOKING</button>
      </p>
      <p>
        <button ion-button large full class="custom-button" (click)="navToCarInspection()">INSPECT CAR</button>
      </p>
    </ion-grid>
    <ion-grid *ngIf="userRole == 'user'">
      <p>
        <button ion-button large full class="custom-button" (click)="navToBookAppointment()">BOOK AN APPOINTMENT</button>
      </p>
      <p>
        <button ion-button large full class="custom-button" (click)="navToViewAppointment()">VIEW APPOINTMENT</button>
      </p>
      <p>
        <button ion-button large full class="custom-button" (click)="navToInspectionResult()">VIEW INSPECTION RESULT</button>
      </p>
      <p>
        <button ion-button large full class="custom-button" (click)="navToContraventions()">PAY CONTRAVENTION</button>
      </p>
      <p>
        <button ion-button large full class="custom-button" (click)="navToCarInspection()">REGISTRATION</button>
      </p>
    </ion-grid>
  </ion-content>
  