<!--
  Generated template for the ListAppointmentsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>List Appointments</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list *ngIf = 'appointments'>
    <ion-item  *ngFor="let apt of appointments">
      <h2>Car Name : {{ apt.car.car_no}}</h2>
      <p>Car Model : {{ apt.car.model}}</p>
      <p>Type : {{ apt.car.type.type}}</p>
      <p>Submitted Date : {{apt.submitted_date}}</p>
      <button *ngIf="inspectLink == 'fromList'" ion-button clear item-end (click) ="viewAppointment(apt)">View</button>
      <button *ngIf="inspectLink == 'fromInspect'" ion-button clear item-end (click) ="inspect(apt)">Inspect</button>
    </ion-item>
  </ion-list>
</ion-content>
