<!--
  Generated template for the ViewAppointmentPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>view-appointment</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding *ngIf="appointment !== undefined">
  <ion-list>
    <ion-item>
      <ion-label>Car Model :</ion-label>
      <ion-label>{{appointment.car.model}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Car No:</ion-label>
      <ion-label>{{appointment.car.car_no}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Type</ion-label>
      <ion-label>{{appointment.car.type.type}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Submitted Date</ion-label>
      <ion-label>{{appointment.submitted_date}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Booking Date</ion-label>
      <ion-label>{{appointment.booking_date}}</ion-label>
    </ion-item>
  </ion-list>
  <div *ngIf ="userType == 'Inspector'">
    <button type="button" ion-button icon-start block color="dark" tappable (click)="inspect()">Inspect</button>
  </div>
  <div *ngIf ="userType == 'User'">
    <button type="button" ion-button icon-start block color="dark" tappable (click)="goToHome()">Done</button>
  </div>
</ion-content>